.container {
    width: 70%;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Josefin Sans', sans-serif;
    
    &__section {
        font-size: 23px;
        line-height: 32.25px;

        &--portfolioaxis{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        &--column {
            width: 47%;
            // background-color: wheat;

            &-element {
                height: 315px;
                background-size: 100% 100%;
                border-radius: 10px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                position: relative;
                z-index: 1;
                &:hover {
                    &.mybike,
                    &.nicegadgets,
                    &.todo {
                        transform: scale(1.3);
                        cursor: pointer;
                    }
                }
                    

                & a {
                    text-decoration: none;
                    background-clip: text;
                    color: transparent;
                    background-size: 100%;
                    opacity: 1;
                    background-image: linear-gradient(to right, 
                    #ff8a00 0%, 
                    #ff5e00 20%, 
                    #ff2d42 40%, 
                    #e52e71 60%, 
                    #b538ff 80%, 
                    #6057ff 100%);
                    position: relative;
                    &.demo {
                        &::before {
                            content: 'DEMO';  
                        }
                    }

                    &.code {
                        &::before {
                            top: -4.5px;
                            left: 7.3px;
                            content: 'CODE';  
                        }
                    }

                    &::before {
                        background-clip: text;
                        background-image: linear-gradient(to right, 
                        #6057ff 0%,
                        #b538ff 20%,
                        #e52e71 40%,
                        #ff2d42 60%,
                        #ff5e00 80%, 
                        #ff8a00 100%,
                    ); 
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 1; left: 0;
                    opacity: 0;
                    z-index: 100;
                    transition: opacity 0.3s ease-in-out;
                    }
                    
                
                    &:hover {
                        &:before {
                          opacity: 1; 
                        }
                     }
                }

                & p {
                    margin-top: 0;
                    font-size: 20px;
                }
                &.mybike {
                    background-image: url('../../../images/MyBike.png');
                }
                &.todo {
                    background-image: url('../../../images/todo.png');
                }
                &.nicegadgets {
                    background-image: url('../../../images/nicegadgets.png');
                }
            }
        }

        &--arrow {
            height: 1095px;
            width: 1%;
            background-image: linear-gradient(
            #ff8a00 0%, 
            #ff5e00 20%, 
            #ff2d42 40%, 
            #e52e71 60%, 
            #b538ff 80%, 
            #6057ff 100%);
            border-radius: 15px;
            position: relative;
            &::before {
                width: 0;
                border-radius: 10px;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 65px solid #6057ff; /* Change to the color you want for the arrow */
                content: ""; 
                position: absolute;
                bottom: -30px; /* Adjust the position based on your design */
                left: 50%;
                transform: translateX(-50%);
            }
        }
        & p {
            margin-left: auto;
            margin-right: auto;
            display: block;
           width: 80%;
           text-align: center;
           text-shadow: 
           -1px -1px 0 #000,  
            1px -1px 0 #000,
           -1px  1px 0 #000,
            1px  1px 0 #000;

           & a {
            text-decoration: none;
            background-clip: text;
            color: transparent;
            background-size: 100%;
            opacity: 1;
            background-image: linear-gradient(to right, 
            #ff8a00 0%, 
            #ff5e00 20%, 
            #ff2d42 40%, 
            #e52e71 60%, 
            #b538ff 80%, 
            #6057ff 100%);
            position: relative;
            z-index: 100;
            &::before {
                background-clip: text;
                background-image: linear-gradient(to right, 
                #6057ff 0%,
                #b538ff 20%,
                #e52e71 40%,
                #ff2d42 60%,
                #ff5e00 80%, 
                #ff8a00 100%,
            );
            content: 'HERE';    
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 1; left: 0;
            opacity: 0;
            z-index: 100;
            transition: opacity 0.3s ease-in-out;
            }
            &:hover {
                &:before {
                  opacity: 1; 
                }
             }
           } 

           & span {
          
            text-shadow: none;
            &.colorfull {
                font-size: 34px;
                background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, 
        #ff8a00 0%, 
        #ff5e00 20%, 
        #ff2d42 40%, 
        #e52e71 60%, 
        #b538ff 80%, 
        #6057ff 100%);
            }
           }
        }
    }
    &__picture {
        margin-bottom: 50px;
        border-radius: 300px;
        background-image: url(../../../images/me.png);
        height: 524px;
        width: 524px;
        margin-left: auto;
        margin-right: auto;
        animation: moveUpDown 3s infinite;

        &:hover {
            animation-play-state: paused;
        }
    }
    & h1 {
        font-weight: 100;
        text-align: center;
        letter-spacing: 12px;
        font-size: 96px;
        margin-bottom: 20px;
        margin-top: 50px;

        &.small {
            font-size: 60px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    & h2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 15px;
        font-size: 24px;
        font-weight: 700;
        width: fit-content;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, 
        #ff8a00 0%, 
        #ff5e00 20%, 
        #ff2d42 40%, 
        #e52e71 60%, 
        #b538ff 80%, 
        #6057ff 100%);
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}